
{{ define "product" }}
{{ template "header" . }}


<main role="main">
  <div class="h-product container">
    <div class="row">
      <div class="col-md-6">
        <img class="product-image" alt="" src="{{$.product.Item.Picture}}" />
      </div>
      <div class="product-info col-md-5">
        <div class="product-wrapper">

          <h2>{{ $.product.Item.Name }}</h2>
          <p class="product-price">{{ renderMoney $.product.Price }}</p>
          <p>{{ $.product.Item.Description }}</p>
          
          <form method="POST" action="/cart">
            <input type="hidden" name="product_id" value="{{$.product.Item.Id}}" />
            <div class="product-quantity-dropdown">
              <select name="quantity" id="quantity">
                {{- range $val := Iterate $.product.Item.InStock}}
                <option value="{{ $val }}">{{ $val }}</option>
                {{- end }}
              </select>
              <img src="/static/icons/Hipster_DownArrow.svg" alt="">
            </div>
            <button type="submit" class="cymbal-button-primary">Add To Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</main>
{{ template "footer" . }}
{{ end }}